/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/Header/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 280px 0 280px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}

.bg-breadcrumb .bg-breadcrumb-single {
    position: absolute;
    width: 500px;
    height: 1200px;
    top: 0px;
    left: 0;
    margin-left: 30px;
    transform: rotate(-30deg);
    background: var(--bs-dark);
    animation: RotateMoveLeft 5s linear infinite;
    opacity: 0.7;
    z-index: 2 !important;
}


.bg-breadcrumb::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    top: -150px;
    right: -150px;
    border-radius: 200px;
    border: 80px solid rgba(68, 210, 246, 0.2);
    animation: RotateMoveCircle 10s linear infinite;
    background: transparent;
    z-index: 2 !important;
}

@keyframes RotateMoveCircle {
    0% {top: -200px;}
    50%   {right: -100px;}
    75%   {top: -100px;}
    100%  {top: -200px;}
}


.bg-breadcrumb::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1200px;
    top: -150px;
    left: 0;
    margin-left: 160px;
    transform: rotate(-30deg);
    background: rgba(68, 210, 246, 0.2);
    animation: RotateMoveRight 5s linear infinite;
    z-index: 2 !important;
}
/*** Single Page Hero Header End ***/
