/* General Reset for body */
body, .body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: #EEEEEE;
}

/* Existing keyframes and animations remain unchanged */
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes downToUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-down-to-up {
  animation: downToUp 2s ease-out forwards;
}

/* Initial state: hidden */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

/* When the element is in view */
.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInLeft 3s ease-out;
}

/* Flex container for each section */
.content-box {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5% 4%;
    box-sizing: border-box;
    width: 100%;
}

/* For rows with text and image */
.content-box img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Content section styling */
.content {
  font-family: Georgia;
  flex: 1;
}

/* Ensure image sections do not exceed a max-width */
.img {
  flex: 1;
  margin-right: 20px;
}

/* Add a specific width to the image if needed */
.img img {
  max-width: 100%; /* Adjusted to 100% */
  height: auto;
}

/* Responsive Adjustments */
@media (max-width: 1050px) {
  .content-box {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
  }
  .content {
      margin-right: 0;
      margin-bottom: 20px;
  }
  .img {
      margin-right: 0; /* Remove margin on smaller screens */
      margin-bottom: 20px;
  }
}

/* Adjustments for reverse-content on mobile */
.reverse-content {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1050px) {
  .reverse-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .reverse-content .content {
    order: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .reverse-content .img {
    order: 2;
    margin-right: 0; /* Remove margin on smaller screens */
    margin-bottom: 20px;
  }
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .content-box, .reverse-content {
    padding: 0 2%;
  }
  .content {
    font-size: 1rem;
  }
  .img img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .content-box, .reverse-content {
    height: auto;
  }
  .content {
    font-size: 0.9rem;
  }
  .img img {
    max-width: 100%;
  }
}
